
<nb-card size="large">
  <nb-card-body>
    
    <div class="picture" size="small" style.background-image="url('{{project.ImageUrl}}')"></div>

    <div class="details">
      <div class="title">
        {{project.Title}}
      </div>
      <div class="description" >
        {{project.ShortDescription}}
        
      </div>
      <br>
      <nb-user [name]="project.OwnerName" [picture]="user?.picture"></nb-user>
      <br>
      <div class="description">
       <strong> Eth {{project.TotalFuneded}}</strong> pledged
       <br>
       <strong> {{percentage}}%</strong>   funded
       <br>
       <strong> 11</strong>     days to go
       <br>
       <strong> {{project.ToalVoteCount}}</strong>     Votes
      </div>
      
    </div>
  </nb-card-body>


  <nb-card-footer>
    <a (click)="VoteProject()" >
      <i class="ion-heart"></i>
    </a>
    <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank">
      <i class="ion-social-apple"></i>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
      <i class="ion-social-android"></i>
    </a>
    <a href="https://github.com/akveo/react-native-ui-kitten" target="_blank">
      <i class="ion-social-github"></i>
    </a>
  </nb-card-footer>
</nb-card>
