  
<div class="row" *ngIf="!showdetailproject">


  <div class="col-md-4" *ngFor="let pro of projectslist" [@flip]="!showdetailproject" >

 

    <single-Project [project]= pro (click)="showdetailProjectActivator(pro)" (VoteThisProject)="VoteProject($event)" ></single-Project>
   
       
    </div>

</div>

<div [@flip]="showdetailproject"> 

<ProjectDetailsInformationComponent *ngIf="showdetailproject" [project]="DetailprojectInstance" (TranferFundsTrigger)="TranferFunds($event)"></ProjectDetailsInformationComponent>
</div>
<button (click)="reload()">Reload</button>
<web3component></web3component>
{{secondsDisplay}}
